<div class="row">
  <div class="col-md-12">
      <div><img src="BoothFantasyMainPhoto.png" class="img-responsive"></div>
  </div>
</div>
<div class = "media">
  <div class="media-body">
    <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="sr-only">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %> -
          <small>
            <%= comment.user.username %>
            <%= time_ago_in_words(comment.created_at) %> ago
            <% if comment.user == current_user %>
            <a href="/delete_comment/<%= comment.id %>">
              <i class="fa fa-trash"></i>
            </a>
            <% end %>
          </small>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
