<!-- Validation failure messages -->
<% if @fantasy_contestant.errors.any? %>
  <% @fantasy_contestant.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Contestants To Your Team</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_fantasy_contestant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cast_id -->
      <div class="form-group">
        <label for="cast_id" class="control-label">
          Cast
        </label>

        <%= select_tag(:cast_id, options_from_collection_for_select(Cast.all, :id, :name, @fantasy_contestant.cast_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" value="<%= @fantasy_contestant.user_id %>">
      </div>

      <button class="btn btn-success">
        Add This Contestant
      </button>
      or
      <a href="/fantasy_contestants">Cancel</a>
    </form>
  </div>
</div>
<h3><%= current_user.username %> Contestant's:</h3>
